In [180]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\iqbal\appdata\roaming\python\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\iqbal\appdata\roaming\python\python312\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\iqbal\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\iqbal\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\iqbal\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\iqbal\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [246]:
#1.
import pandas as pd

df_csv = pd.read_csv('disperkim-od_16985_jumlah_produksi_sampah_berdasarkan_kabupatenkota_v3_data.csv')
df_csv

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_produksi_sampah,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,1511.15,TON PER HARI,2015
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,419.01,TON PER HARI,2015
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,981.41,TON PER HARI,2015
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,1895.94,TON PER HARI,2015
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,464.74,TON PER HARI,2015
...,...,...,...,...,...,...,...,...
238,239,32,JAWA BARAT,3275,KOTA BEKASI,NaN,TON PER HARI,2023
239,240,32,JAWA BARAT,3276,KOTA DEPOK,NaN,TON PER HARI,2023
240,241,32,JAWA BARAT,3277,KOTA CIMAHI,NaN,TON PER HARI,2023
241,242,32,JAWA BARAT,3278,KOTA TASIKMALAYA,NaN,TON PER HARI,2023
242,243,32,JAWA BARAT,3279,KOTA BANJAR,NaN,TON PER HARI,2023

In [247]:
#2.
tahun = 2015
sampah_tahun_tertentu = 0
for i, row in df_csv.iterrows():
  if row['tahun'] == tahun:
    sampah_tahun_tertentu += row['jumlah_produksi_sampah']

df_no2 = pd.DataFrame({"tahun": [tahun], "total_produksi_sampah": [sampah_tahun_tertentu]})
df_no2.to_csv("sampah_tahun_tertentu.csv", index=False)
df_no2.to_excel("sampah_tahun_tertentu.xlsx", index=False)
df_no2

   tahun  total_produksi_sampah
0   2015               20969.27

In [250]:
#3.
data_per_tahun = {}
for i, row in df_csv.iterrows():
  if row['tahun'] not in data_per_tahun:
    data_per_tahun[row['tahun']] = 0
  data_per_tahun[row['tahun']] += row['jumlah_produksi_sampah']

print(data_per_tahun)

df_no3 = pd.DataFrame(data_per_tahun.items(), columns=["tahun", "total_produksi_sampah"])
df_no3.to_csv("sampah_per_tahun.csv", index=False)
df_no3.to_excel("sampah_per_tahun.xlsx", index=False)
df_no3

{2015: 20969.269999999997, 2016: 20969.269999999997, 2017: 20969.269999999997, 2018: 22772.92, 2019: 24490.559999999998, 2020: 25333.0, 2021: 15735.360000000002, 2022: nan, 2023: nan}

   tahun  total_produksi_sampah
0   2015               20969.27
1   2016               20969.27
2   2017               20969.27
3   2018               22772.92
4   2019               24490.56
5   2020               25333.00
6   2021               15735.36
7   2022                    NaN
8   2023                    NaN

In [251]:
#4.
data_per_kabkot = {}
for i, row in df_csv.iterrows():
    if row['nama_kabupaten_kota'] not in data_per_kabkot:
        data_per_kabkot[row['nama_kabupaten_kota']] = {}
    if row['tahun'] not in data_per_kabkot[row['nama_kabupaten_kota']]:
        data_per_kabkot[row['nama_kabupaten_kota']][row['tahun']] = 0
    data_per_kabkot[row['nama_kabupaten_kota']][row['tahun']] += row['jumlah_produksi_sampah']

print(data_per_kabkot)

df_no4 = pd.DataFrame(data_per_kabkot)
df_no4.to_csv("sampah_per_kabupaten_kota_per_tahun.csv")
df_no4.to_excel("sampah_per_kabupaten_kota_per_tahun.xlsx")
df_no4

{'KABUPATEN BOGOR': {2015: 1511.15, 2016: 1511.15, 2017: 1511.15, 2018: 1716.8, 2019: 2914.65, 2020: 2977.0, 2021: 971.59, 2022: nan, 2023: nan}, 'KABUPATEN SUKABUMI': {2015: 419.01, 2016: 419.01, 2017: 419.01, 2018: 415.5, 2019: 1003.64, 2020: 1006.0, 2021: 356.02, 2022: nan, 2023: nan}, 'KABUPATEN CIANJUR': {2015: 981.41, 2016: 981.41, 2017: 981.41, 2018: 965.19, 2019: 1115.81, 2020: 1117.0, 2021: 355.69, 2022: nan, 2023: nan}, 'KABUPATEN BANDUNG': {2015: 1895.94, 2016: 1895.94, 2017: 1895.94, 2018: 2068.06, 2019: 1334.12, 2020: 1355.0, 2021: 1489.04, 2022: nan, 2023: nan}, 'KABUPATEN GARUT': {2015: 464.74, 2016: 464.74, 2017: 464.74, 2018: 473.89, 2019: 1144.01, 2020: 1151.0, 2021: 321.17, 2022: nan, 2023: nan}, 'KABUPATEN TASIKMALAYA': {2015: 464.52, 2016: 464.52, 2017: 464.52, 2018: 458.45, 2019: 753.06, 2020: 754.0, 2021: 172.26, 2022: nan, 2023: nan}, 'KABUPATEN CIAMIS': {2015: 260.91, 2016: 260.91, 2017: 260.91, 2018: 263.01, 2019: 560.57, 2020: 564.0, 2021: 159.41, 2022: nan, 2023: nan}, 'KABUPATEN KUNINGAN': {2015: 251.7, 2016: 251.7, 2017: 251.7, 2018: 248.52, 2019: 537.25, 2020: 540.0, 2021: 405.76, 2022: nan, 2023: nan}, 'KABUPATEN CIREBON': {2015: 465.75, 2016: 465.75, 2017: 465.75, 2018: 466.25, 2019: 3.15, 2020: 1096.0, 2021: 242.52, 2022: nan, 2023: nan}, 'KABUPATEN MAJALENGKA': {2015: 254.63, 2016: 254.63, 2017: 254.63, 2018: 249.26, 2019: 515.7, 2020: 518.0, 2021: 546.54, 2022: nan, 2023: nan}, 'KABUPATEN SUMEDANG': {2015: 237.96, 2016: 237.96, 2017: 237.96, 2018: 236.12, 2019: 436.96, 2020: 438.0, 2021: 707.75, 2022: nan, 2023: nan}, 'KABUPATEN INDRAMAYU': {2015: 613.18, 2016: 613.18, 2017: 613.18, 2018: 603.11, 2019: 1071.05, 2020: 1077.0, 2021: 792.48, 2022: nan, 2023: nan}, 'KABUPATEN SUBANG': {2015: 487.26, 2016: 487.26, 2017: 487.26, 2018: 498.7, 2019: 1012.45, 2020: 1023.0, 2021: 739.6, 2022: nan, 2023: nan}, 'KABUPATEN PURWAKARTA': {2015: 308.96, 2016: 308.96, 2017: 308.96, 2018: 323.87, 2019: 384.43, 2020: 388.0, 2021: 239.72, 2022: nan, 2023: nan}, 'KABUPATEN KARAWANG': {2015: 869.86, 2016: 869.86, 2017: 869.86, 2018: 896.85, 2019: 934.4, 2020: 942.0, 2021: 614.61, 2022: nan, 2023: nan}, 'KABUPATEN BEKASI': {2015: 1228.6, 2016: 1228.6, 2017: 1228.6, 2018: 1600.71, 2019: 2590.0, 2020: 2258.0, 2021: 1193.76, 2022: nan, 2023: nan}, 'KABUPATEN BANDUNG BARAT': {2015: 616.08, 2016: 616.08, 2017: 616.08, 2018: 663.54, 2019: 1124.5, 2020: 1135.0, 2021: 201.09, 2022: nan, 2023: nan}, 'KABUPATEN PANGANDARAN': {2015: 185.83, 2016: 185.83, 2017: 185.83, 2018: 171.21, 2019: 250.23, 2020: 252.0, 2021: 46.62, 2022: nan, 2023: nan}, 'KOTA BOGOR': {2015: 991.93, 2016: 991.93, 2017: 991.93, 2018: 1069.41, 2019: 620.55, 2020: 567.0, 2021: 719.72, 2022: nan, 2023: nan}, 'KOTA SUKABUMI': {2015: 309.91, 2016: 309.91, 2017: 309.91, 2018: 318.12, 2019: 172.82, 2020: 181.0, 2021: 232.06, 2022: nan, 2023: nan}, 'KOTA BANDUNG': {2015: 2448.63, 2016: 2448.63, 2017: 2448.63, 2018: 2441.12, 2019: 1575.73, 2020: 1630.0, 2021: 1529.04, 2022: nan, 2023: nan}, 'KOTA CIREBON': {2015: 304.15, 2016: 304.15, 2017: 304.15, 2018: 308.37, 2019: 245.0, 2020: 192.0, 2021: 229.75, 2022: nan, 2023: nan}, 'KOTA BEKASI': {2015: 2387.08, 2016: 2387.08, 2017: 2387.08, 2018: 2858.6, 2019: 2060.7, 2020: 1923.0, 2021: 1500.77, 2022: nan, 2023: nan}, 'KOTA DEPOK': {2015: 1844.3, 2016: 1844.3, 2017: 1844.3, 2018: 2272.07, 2019: 1469.77, 2020: 1516.0, 2021: 1418.87, 2022: nan, 2023: nan}, 'KOTA CIMAHI': {2015: 563.21, 2016: 563.21, 2017: 563.21, 2018: 592.62, 2019: 267.74, 2020: 369.0, 2021: 193.36, 2022: nan, 2023: nan}, 'KOTA TASIKMALAYA': {2015: 472.36, 2016: 472.36, 2017: 472.36, 2018: 465.23, 2019: 291.6, 2020: 285.0, 2021: 295.87, 2022: nan, 2023: nan}, 'KOTA BANJAR': {2015: 130.21, 2016: 130.21, 2017: 130.21, 2018: 128.34, 2019: 100.67, 2020: 79.0, 2021: 60.29, 2022: nan, 2023: nan}}

,KABUPATEN BOGOR,KABUPATEN SUKABUMI,KABUPATEN CIANJUR,KABUPATEN BANDUNG,KABUPATEN GARUT,KABUPATEN TASIKMALAYA,KABUPATEN CIAMIS,KABUPATEN KUNINGAN,KABUPATEN CIREBON,KABUPATEN MAJALENGKA,...,KABUPATEN PANGANDARAN,KOTA BOGOR,KOTA SUKABUMI,KOTA BANDUNG,KOTA CIREBON,KOTA BEKASI,KOTA DEPOK,KOTA CIMAHI,KOTA TASIKMALAYA,KOTA BANJAR
2015,1511.15,419.01,981.41,1895.94,464.74,464.52,260.91,251.70,465.75,254.63,...,185.83,991.93,309.91,2448.63,304.15,2387.08,1844.30,563.21,472.36,130.21
2016,1511.15,419.01,981.41,1895.94,464.74,464.52,260.91,251.70,465.75,254.63,...,185.83,991.93,309.91,2448.63,304.15,2387.08,1844.30,563.21,472.36,130.21
2017,1511.15,419.01,981.41,1895.94,464.74,464.52,260.91,251.70,465.75,254.63,...,185.83,991.93,309.91,2448.63,304.15,2387.08,1844.30,563.21,472.36,130.21
2018,1716.80,415.50,965.19,2068.06,473.89,458.45,263.01,248.52,466.25,249.26,...,171.21,1069.41,318.12,2441.12,308.37,2858.60,2272.07,592.62,465.23,128.34
2019,2914.65,1003.64,1115.81,1334.12,1144.01,753.06,560.57,537.25,3.15,515.70,...,250.23,620.55,172.82,1575.73,245.00,2060.70,1469.77,267.74,291.60,100.67
2020,2977.00,1006.00,1117.00,1355.00,1151.00,754.00,564.00,540.00,1096.00,518.00,...,252.00,567.00,181.00,1630.00,192.00,1923.00,1516.00,369.00,285.00,79.00
2021,971.59,356.02,355.69,1489.04,321.17,172.26,159.41,405.76,242.52,546.54,...,46.62,719.72,232.06,1529.04,229.75,1500.77,1418.87,193.36,295.87,60.29
2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN